@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    background-color: v.$verde;
    padding: 2rem;
    
    @include m.tablet {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .content-header{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    h1{
        color: v.$blanco;
        text-align: center;

        @include m.tablet{
            margin: 0;
        }
    }
}

.nav{
     @include m.tablet{
         display: flex;
         gap: 2rem;
     }

    a{
        display: block;
        margin-bottom: 1rem;
        color: v.$blanco;
        font-size: 2.3rem;
        text-align: center;

        @include m.tablet{
            margin: 0;
        }

        &:hover{
            color: v.$amarillo;
        }
    }
}